HOST         = 'localhost'
PORT         = '3000'
HTTPS        = 'true'
CRT_KEY      = '/home/shahbaz/Dev-Race-Workspace/trello/frontend/ssl/cert.pem'
SSL_KEY_FILE = '/home/shahbaz/Dev-Race-Workspace/trello/frontend/ssl/key.pem'